*{
  margin: 0px ;
  padding: 0px ;

}

.menu-container{
  background-color: rgb(44, 44, 44);
  padding: 20px;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menus{
  display: flex;
}
.item{
  margin-right: 15px;
  padding-right: 9px ;
  font-size: 25px;
  cursor: pointer;
}
.item:hover{
  color: indianred;
}
.logo-photo{
  width: 200px;
}
.banner-img{
  width: 500px;
}
.banner-container{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  color: white;
  background-image: url("background.png"),linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
}
.title{
  font-size: 55px;
  font-weight: bold;
}
.description{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn{
  font-size: 20px;
  padding: 10px 15px;
  background-color: rgb(237, 42, 42);
  color: rgb(255, 255, 255);
  border: none;
  /* border-radius: 7px; */

}
.btn:hover{
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.about-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.boro{
  margin-top: 25px;
  /* padding-top: 15px; */
  text-align: center;
  font-size: 55px ;
}
.paragraph{
  font-size: 36px;
  margin-bottom: 20px;
}
.lorem{
  font-size: 20px;
  margin-bottom: 20px;

}
.our-service{
  text-align: center;
  font-size: 55px;
  margin: 20px;
  margin-bottom: 40px;
}
.box{
  width: 230px;
  height: 310px;
  box-shadow: 10px 10px 10px black;
  background-color: rgb(53, 51, 51);
  text-align: center;
 

}
.web{
  text-align: center;
  padding: 10px;
  color: white;
}
.pa{
  color: white;
  padding: 5px;
  margin-bottom: 15px;
}
.icon{
  width: 70px;
  padding-top: 10px;

}
.service-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.service{
  
  height: 600px;
  background-image: url("background.png"),linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  color: white;
}